*{
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
}
.resaltado {
    color: red;
    font-weight: bold;
}

.seccion1{
    /*background-color: rgb(49, 23, 59);*/
    /*background: #654ea3;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #BE93C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container{
        width: 80%;
        height: 72vh;
        background-color: #fffdfd;
        border-radius: 4px;
        border-color: transparent;
        box-shadow: 2px;
        margin-top: 1%;
    }
    
}

h1{
    font-family: 'Bebas Neue';
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 6vh;
    text-align: center;
    color: #1b1b1b;
    margin-top: 7%;
}
p{
    font-family: 'Gotham';
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #3b3b3b;
    margin-bottom: 2%;
}
h2{
    text-align: center;
    font-size: 1rem;
    font-family: 'Gotham';
    font-weight: 300;
}
.datos{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
input{
    font-size: 1rem;
    font-family: 'Gotham';
    color: #1b1b1b;
    height: 10vh;
    width: 50%;
    border-radius: 7px;
    border: 1px solid rgb(214, 214, 214);
    outline-color: rgb(201, 201, 201);
    text-align: center; 
    margin: 0 auto; 
    display: block;
}
input::placeholder{
    color: #654ea3;
}
input:focus::placeholder{
    color: transparent;
}
.contenerBoton{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin-top: 1.5rem;
    width: 10rem;
    height: 3rem;
    background-color: rgb(49, 23, 59);
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    color: white;
    font-family: 'Gotham';
    font-weight: 600;
    transition: .5s;
}
button:hover{
    transition: 5.s;
    background-color: white;
    border: .5px solid rgb(49, 23, 59);
    color: rgb(49, 23, 59);
}  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

th{
    text-align: center;
}
h3{
    font-family: 'Bebas Neue';
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 4vh;
    text-align: center;
    color: #1b1b1b;
}
.datos2{
    width: 100%;
    margin-top: 4%;
    display: inline;
}
.datos2 p{
    display: flex;
}

.container2 {    
    background-color: #fffdfd;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas de igual ancho */
    gap: 10%; /* Espacio entre elementos */
}

.datos2 {
    margin: 0;
    padding: 15px;
    
}
.container22{
    width: 80%;
    height: 60vh;
    background-color: #fffdfd;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 2px;
    margin-bottom: 1%;
}